<div class="root" (mousedown)="jump()">
  <img src="assets/snowb.gif" alt="">

  <img src="assets/wish.png" alt="snowman" class="wish" *ngIf="showMessage">
  <img src="assets/snowm_1.png" alt="snowman" class="top" #snowman>
  <img src="assets/g.png" alt="g" class="letter" #g height="130px">
  <img src="assets/e.png" alt="e" class="letter" #e height="140px">
  <img src="assets/d.png" alt="d" class="letter" #d height="150px">
  <img src="assets/o.png" alt="o" class="letter" #o height="160px">
  <img src="assets/p.png" alt="p" class="letter" #p height="170px">
  <img src="assets/l.png" alt="l" class="letter" #l height="180px">
  <img src="assets/a.png" alt="a" class="letter" #a height="190px">
  <img src="assets/n.png" alt="n" class="letter" #n height="200px">
</div>
