$jumpTime: 500ms;

:host {
  height: 95vh;
  width: 95vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  div.root {
    position: relative;
    overflow: hidden;

    img.wish, img.top, img.letter {
      position: absolute;

      &.wish{
        top: 50px;
        left: 130px;
      }

      &.down{
        transform: rotate(-90deg);
    }

      &.top {
        height: 200px;
        z-index: 50;
        left: 250px;

        transition: all ease-in-out 500ms;
        --jump-time: 500ms;
      }

      &.over {
        bottom: 4000px !important;
      }

      &.letter{
        z-index: 100;
        bottom: 150px;
        left: 1300px;
      }
    }
  }
}
