<div class="root" (mousedown)="jump()">
  <video autoplay="autoplay" muted="muted" loop="loop" id="snow">
    <source src="assets/snowb.mp4" type="video/mp4">
  </video>

  <img src="assets/wish.png" alt="snowman" class="wish" *ngIf="showMessage">
  <img src="assets/snowm_1.png" alt="snowman" class="top" #snowman>
  <img src="assets/g.png" alt="g" class="letter" #g>
  <img src="assets/e.png" alt="e" class="letter" #e>
  <img src="assets/d.png" alt="d" class="letter" #d>
  <img src="assets/o.png" alt="o" class="letter" #o>
  <img src="assets/p.png" alt="p" class="letter" #p>
  <img src="assets/l.png" alt="l" class="letter" #l>
  <img src="assets/a.png" alt="a" class="letter" #a>
  <img src="assets/n.png" alt="n" class="letter" #n>
</div>
